.container-fluid {padding: 0px;}

/*barra te navegaçao */
.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
.navbar-nav{
margin: auto;

}
.navbar-brand{
    font-weight: bold;

}
.navbar-light .navbar-nav a.nav-link{
    color:#333;
    letter-spacing: 1px;}
    /*botao adicionar 
    */
 #add-link{text-decoration: none;}   
.botao{
    background-color: aqua;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}
.fas.fa-plus{
    color: #fff;
    margin-right: 20px;
    margin-left: 10px;}
    /*busca*/
.fas.fa-search  {cursor: pointer;position: absolute;margin-top: 0px;margin-left: 0px;padding: 10px;border: 1px solid black; border-radius: 5px ;}



.pesquisa{
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    }
 input.form-control{display: inline-block;}
/*Lista de tarefa */
.lis-div {padding: 0px;}
.task-list {padding-left: 0;
text-decoration: none;}
.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
    text-decoration: none;}
 a {text-decoration: none;}
.fas.fa-trash,.fas.fa-edit{
        cursor: pointer;
        font-size: 20px;
        margin: 5px;
        float: right;}
.fas.fa-trash{color: red;}
.fas.fa-edit{color: green;}
/* mensagens*/
ul.messages {padding: 0;list-style: none;}
/*paginaçao*/
.pagina{margin-bottom: 10px;}
.pagina-Link{position: relative;margin-left: auto;margin-right: auto;}
.pagina-Link .current{margin-left: 5px;margin-right: 5px;}
.auth-card{margin-bottom: 30px;}



















   /*rodape */
   footer{
        background-color: #333;
        height: 300px;
        border-top: #202020 solid 1px;  
    } 
    footer p{color: #f5f5f5;
                text-align: center;
            top: 50%;
        position: relative;}