{% extends 'base.html' %}
{%block title %}Lista de tarefaz{% endblock %}
{% block content %}
<div class="offset-1 col-10 list-div">
    <h2>lista de tarefaz</h2>
    <a id="add-link" href="novatarefa/">
        <div class="col-2 botao">
        <i class="fas fa-plus"></i>Adicionar tarefa
        {{message.tags}}</div>
    </a>
    <div class="col-9 pesquisa">
    <form method="GET" id="form-pesquisa">   
        <input class="form-control"  type="text" id="search" name="pesquisa" placeholder="digite a tarefa" value="{{request.GET.pesquisa}}">
        <i class="fas fa-search " id="pesquisa"></i>
    </div> 
 </form> 
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {%if message.tags %} class="alert alert-{{message.tags}}"{%endif%}>{{message}}</li>
        {% endfor %}

    </ul>


    {% endif %}
   
    <ul class="task-list">
        {%for task in tasks%}
        <li class="task-item">
            <span><a href="task/{{task.id}}">{{task.title}}</a> </span>
            <a class="delete" href="delete/{{task.id}}"> <span><i class="fas fa-trash"></i></span></a>
           <a href="edit/{{task.id}}"> <span><i class="fas fa-edit"></i></span></a>
        </li>
        {% endfor %}



    </ul>
    <div class="pagina">
        <span class="pagina-Link">
            {%if tasks.has_previous %}
            <a href="?page={{tasks.previous_page_number}}"><i class="fas fa-arrow-left"></i>   voltar</a>
            {%endif%}
            {%if tasks.paginator.num_pages%}
            <span class="current">
                {{tasks.number}} de {{tasks.paginator.num_pages }}
            </span>
            {%endif%}
            {%if tasks.has_next %}
            <a href="?page={{tasks.next_page_number}}"> <bold>Avançar</bold> <i class="fas fa-arrow-right"></i>    </a>
            {%endif%}
    
        </span>    
    
    </div>
    
</div>

{% endblock %}